.root {
    background-color: var(--secondary);
    color: white;
    margin-top: -20px;
    padding: 1rem 0;
}

.title {
    color: var(--primary);
    text-transform: uppercase;
}

.heading {
    max-width: 500px;
    font-weight: 500;
    margin-bottom: 5rem;
}

.serviceContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 3rem 0;
}

@media (max-width: 768px) {
    .root {
        margin-top: 0;
    }
    .serviceContainer {
        justify-content: center;
    }
}