.root {
  padding: 2rem 0;
}
.title {
  color: var(--primary);
  text-transform: uppercase;
}

.textContainer {
  display: flex;
  justify-content: space-between;
}

.heading {
  color: #444;
  font-size: var(--text-4xl);
  font-weight: 300;
  max-width: 570px;
  margin-top: 0;
}

.testimonialsContainer {
  max-width: 330px;
  height: 300px;
}
.quoteContainer {
  display: flex;
}
.quote {
  color: var(--secondary);
  font-size: var(--space-lg);
  font-weight: 500;
  max-width: 350px;
  margin: 0 1rem;
  text-align: left;
}

.quoteCompany {
  color: var(--secondary);
  font-size: var(--space-xl);
  font-weight: bold;
  text-align: left;
  margin-left: 1rem;
}

.leftQuoteIcon {
  width: 100px;
  height: 100px;
  color: var(--secondary);
  margin-top: -50px;
}

.rightQuoteIcon {
  width: 100px;
  height: 100px;
  color: var(--secondary);
  align-self: flex-end;
  margin-bottom: 4rem;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.image {
  margin: 3rem 1rem;
  width: 300px;
  height: 100px;
  background-size:contain;
}

@media (max-width: 768px) {
  .textContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .quoteContainer {
    margin: 8rem 0;
  }
}

@media (max-width: 500px) {
  .image {
    margin: 3rem 3rem;
  }

  .imageContainer {
    justify-content: center;
  }
  .quoteContainer {
    margin: 3rem 0;
  }
  .leftQuoteIcon {
    display: none;
  }
  .rightQuoteIcon {
    display: none;
  }
}
