.title {
  font-size: var(--text-5xl);
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 0;
}

.teamRoot {
  background-color: #eee;
}

.teamRootContainer {
  padding: 4rem 0;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.3s ease;
}

.employee {
  color: #444;
  width: 300px;
  opacity: 0;
  animation: 0.5s ease-out 0s 1 expandImage;
  animation-fill-mode: forwards;
}

.employeeImg {
  height: 300px;
  width: 100%;
}

@keyframes expandImage {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* .employeeImg::after {
  transform: scale(1);
} */
.employeeTitle {
  font-size: var(--text-2xl);
  font-weight: 600;
  margin: 1.5rem 0 0.5rem 0;
}

.employeeRole {
  font-size: var(--text-lg);
  margin-top: 0;
}

.employeeTopTextContainer {
  display: flex;
  justify-content: space-between;
}
.employeeSocialIcon {
  margin-top: 1rem;
  cursor: pointer;
}
.employeeSocialIcon:hover {
  color: #aaa;
}

.employeeAbout {
  margin-top: 0.5rem;
  padding-top: 1rem;
  border-top: #bbb solid 1px;
}

@media (max-width: 768px) {
  .teamRootContainer {
    justify-content: center;
  }

  .employee {
    margin-bottom: 3rem;
  }
}

@media (max-width: 425px) {
  .employee {
    width: 300px;
  }
  .teamRootContainer {
    padding: 0;
  }
  .employeeTitle {
    margin-top: 0;
  }
  .employeeSocialIcon {
    margin-top: 0;
  }
}
