.root {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: var(--space-2xl) 0;
}

.rootStatic {
  position: static;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.mobileLogo {
  display: none;
}

.mobileLogo img {
  width: 200px;
}

.topContainerRight {
  display: flex;
}

.callBackButton {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-family: var(--font-sans);
  font-size: var(--text-lg);
  text-transform: uppercase;
  font-weight: var(--semibold);
  color: var(--accent);
}

.hamburgerMenu {
  display: none;
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0 0 0.3rem 0;
  gap: var(--space-xl);
}

.navigationItem {
  text-transform: uppercase;
  font-size: var(--text-md);
  font-weight: 400;
  margin-right: 2rem;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: white;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navigationItem a:hover {
  color: var(--accent);
}

.logoLink {
  display: flex;
  font-weight: var(--medium);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-md);
}

.bottom-container {
  display: flex;
  justify-content: flex-end;
}
.bottom-container ul {
  padding: 0;
}
.search {
  cursor: pointer;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.searchContainer input[type='text'] {
  font-family: var(--font-sans);
  width: 100%;
  padding: 3px 10px;
  margin: 0 1rem 0 0;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  font-size: larger;
}

.searchContainer input[type='text']:focus {
  outline-width: 0;
}

.searchDropdown {
  position: absolute;
  top: 56px;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.searchDropdown h3 {
  margin: 0;
}

.searchDropdown h4 {
  font-weight: 300;
  cursor: pointer;
}

.searchDropdown h4:hover {
  color: #888;
}

@media (max-width: 1024px) {
  .navigationItem {
    font-size: var(--text-sm);
    margin-right: 1rem;
  }
  .callBackButton {
    font-size: var(--text-md);
  }
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
  .topContainer {
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
  .logoLinkBack {
    margin-top: 0;
  }
  .mobileLogo {
    display: block;
  }
  .bottom-container {
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 425px) {
  .hamburgerMenu {
    width: 30px;
  }
  .container {
    padding: var(--space-md) var(--size-gutter);
  }
  .mobileLogo img {
    width: 150px;
  }
}
