.root {
    background-color: #eee;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 8rem;
}
.title {
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.heading {
    color: #444;
    font-size: var(--text-5xl);
    font-weight: 300;
    max-width: 500px;
    margin-top: 0;
}
