.root {
  background-color: var(--primary);
  margin-top: -30px;
}
.container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--white);
  margin-top: var(--space-2xl);
  padding: var(--space-2xl) 0;
}

.logo {
  width: 250px;
}

.container small {
  color: white;
  display: block;
}
.container svg {
  display: block;
}

@media (max-width: 768px) {
  .desktopDiv {
    display: none;
  }
}

@media (max-width: 425px) {
  .tabletDiv {
    display: none;
  }
}
