.root {
    padding: 3rem 0;
}
.title {
    color: var(--primary);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: var(--text-xl);
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.map {
    width: 700px;
    height: 500px;
}

.textContainer {
    margin-left: 7rem;
}

.textContainer h4 {
    font-size: var(--text-lg);
    font-weight: 500;
}

.phoneContainer {
    display: flex;
    align-content: flex-end;
    color: var(--accent);
}
.phoneContainer svg {
    margin-right: 0.5rem;
}
@media (max-width: 768px) {
    .root {
        padding-bottom: 3rem;
    }
    .textContainer {
        margin-top: 2rem;
        margin-left: 0;
    }
}
