.root {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.root:hover {
  color: lightgray;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(148, 26, 52);
  border-radius: 80px;
}

.icon {
  font-size: large;
}

.root h3 {
  margin: 0 0 0 0.5rem;
  padding: 0;
  font-weight: 700;
}
