.root {
    /* TODO: This is a hack to remove the white space above, should look into fixing this if I have the time */
    margin-top: -20px;
    width: 100%;
}

.container {
    padding: 3rem 0 6rem 0;
    color: white;
}

.textContainer {
    margin-left: 10%;
    max-width: 400px;
}
.title {
    font-size: var(--text-xl);
    text-transform: uppercase;
}

.heading {
    font-size: var(--text-3xl);
}

.heading , .title, .subHeading {
    max-width: 450px;
}

.title {
    margin-bottom: 0.5rem;
}
.heading {
    font-weight: 500;
    margin: 0;
}

.subHeading {
    font-weight: 500;
    font-size: var(--text-2xl);
    margin-top: 0.5rem;
}

@media (max-width: 1024px) {
    .container {
      padding-left: 2rem;
    }
}
@media (max-width: 425px) {
    .container {
      padding: 7rem 2rem 3rem 2rem;
    }
}